                                                        /* PRE CONFIGURATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    resize: none;
    font-family:'Poppins', sans-serif;
}
                                                        /* BODY */
body {
    background-attachment: fixed;
    background: #193441;
    color: #fcfff5;
}
                                                        /* GLOBAL */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    cursor: pointer;
    transition: all 0.5s /* ease-in */;
}
.container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

p {
    font-size: 20px;
}
                                                        /* DIV EXTENDED */
.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
    grid-column: 3 / 5;
}

.container > div:nth-of-type(11) {
    grid-column: 1 / 3;
}
                                                        /* FIRST IMAGE */
.bg1 {
    background: url(../images/Foto\ de\ Dids\ no\ Pexels-1920x1283.jpg) no-repeat -200px;
}
                                                        /* SECOND IMAGE */
.bg2 {
    background: url(../images/Foto\ de\ Sourav\ Mishra\ no\ Pexels-1920x1342.jpg) no-repeat 200px;
}