@import url(main.css);

                                                        /* PRE CONFIGURATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    resize: none;
    font-family:'Poppins', sans-serif;
}
                                                        /* GLOBAL */
.container {
    position: relative;
    z-index: 10;
    width: 420px;
    margin: 0px auto 0px auto;
    text-align: center;
}
                                                        /* LOG IN */
#login h1 {
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
#login input {
    display: inline-block;
    height: 55px;
    width: 400px;
    margin: 10px;
    padding: 10px 30px;
    border: 2px solid #fcfff5;
    border-radius: 30px;
    font-size: 14pt;
    color: #193441;
    font-weight: 600;
    background: rgba(255, 255, 255 , 0.1);
    color: #fcfff5;
}

#login a {
    display: inline-block;
    width: 400px;
    font-size: 1em;
    background: #fcfff5;
    padding: 10px 30px;
    color: #193441;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s;
}
#login a:hover {
    background: #91aab4;
    color: #fcfff5;
    letter-spacing: 6px;
}

::-webkit-input-placeholder { /* WEBKIT BROWSERS */
    color: #fcfff5;
}

:-moz-placeholder { /* MOZILLA FIREFOX 4 TO 18 */
    color: #fcfff5;
}

::-moz-placeholder { /* MOZILLA FIREFOX 19+ */
    color: #fcfff5;
}

:-ms-input-placeholder { /* INTERNET EXPLORER 10+ */
    color: #fcfff5;
}
                                                        /* REGISTER */
#register, #return {
    margin: 15px;
    font-size: 20px;
}

#register a, #return a {
    color: #fcfff5;
}
#register a:hover, #return a:hover {
    text-decoration: underline;
}