                                                        /* PRE CONFIGURATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    resize: none;
    font-family:'Poppins', sans-serif;
}
                                                        /* GLOBAL */
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #193441;
    color: #fcfff5;
    z-index: 2;
    transition: 1.5s;
}

.showcase.active {
    right: 300px;
}
                                                        /* HEADER */
.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
                                                        /* LOGO */
.logo a {
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #fcfff5;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fcfff5;

}
                                                        /* TOGGLE */
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/icon/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('../images/icon/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
                                                        /* VIDEO */
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
                                                        /* OVERLAY */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    /* background: #03a9f4; */
    background: #3e606f;
    mix-blend-mode: overlay;

}
                                                        /* TEXT */
.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0px;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fcfff5;
    padding: 10px 30px;
    color: #193441;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.2s;
}
.text a:hover {
    background: #91aab4;
    color: #fcfff5;
    letter-spacing: 6px;
}
                                                        /* SOCIAL */
.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.8);
    transition: 0.5s;
}
.social li a:hover {
    transform: scale(0.8) translateY(-20px);
}
                                                        /* MENU */
.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcfff5;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li {
    margin: 20px 0px;
}
.menu ul li a {
    font-size: 24px;
    color: #91aab4;
}
.menu ul li a:hover {
    color: #193441;
}


                                                                        /* MEDIA QUERY */
@media(max-width: 798px) {
                                                        /* MEDIA- SECTION E HEADER */
    .showcase, .showcase header {
        padding: 40px;
    }

                                                        /* MEDIA- TEXT */
    .text h2 {
        font-size: 2.5em;
    }

    .text h3 {
        font-size: 2em;
    }

    .text p {
        font-size: 0.9em;
    }
}